.listContainer {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1em;
  align-items: stretch;
  margin-bottom: 1em;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.listItem img {
  display: block;
  width: 100%;
}

.listContainer button {
  margin: 1em;
  cursor: pointer;
}
